/*** SITE WIDE ***/

html {
    font-family: 'PT Sans', sans-serif;
  font-size: 16px;
    letter-spacing: .02em;
    color: rgb(40,59,94);
}

body {
  background-color: rgb(255, 255, 255);
  width: 960px;
  margin: 0 auto;
}

strong {
    font-weight: bold;
}


/* Links */
a, 
.node .meta a, 
li.node-readmore.first.last a, 
.title-and-meta h2.node-title a,
.title-and-meta h1.node-title a {
    color: #1b67e2;
    font-weight: bold;
}

a:hover,
a:active,
a:focus, 
.node .meta a:hover, 
li.node-readmore.first.last a:hover  {
    color: #96c42b;
    
}

a:active, a:visited {
  outline: none;
}


/**
 * Headers
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(40,59,94);
}
h1 {
  margin: 20px 0 10px 0;
  font-size: 1.7em;
}
h2 {
  margin: 18px 0 11px 0;
  font-size: 1.5em;
}
h3 {
  margin: 14px 0 6px 0;
  font-size: 1.3em;
}
h4 {
  margin: 7px 0;
  font-size: 1.1em;
}
h5,
h6 {
  margin: 5px 0;
  font-size: 1em;
    border-bottom: 1px dotted silver;
}

.node h1.node-title,
node h2.node-title {
    font-size: 1.7em;
}



#header-wrapper {
  background-color: rgb(255, 255, 255);
}

#header-menu-wrapper {
  background-image: none;
}

#main-wrapper {
  background: none;
}

#header-menu {
  margin-top: -1px;
  width: 100%;
}

#header-menu .content li.expanded a {
  background-image: none;
  padding-bottom: 12px;
}

#header-menu .content li.expanded ul {
  background-color: rgb(109, 136, 171);
}

#header-menu .content li.expanded ul a:hover {
  background-color: transparent;
}

#header-menu .content li.expanded ul {
  margin-top: 3px;
}

#header-menu #block-menu_block-1 ul.menu {
  margin: 0 0 0 -20px;
}

#block-menu_block-1 .inner {
  width: 960px;
  margin: 0 auto;
}

.node {
  border-top: none;
}

#main #content {
  margin-top: 0;
}

.node h1.node-title a {
  font-size: 28px;
}

.group-top {
  background-color: #cdd5de;
  padding: 15px;
  margin-bottom: 30px;
}

.group-left {
  float: left;
  width: inherit;
  margin-right: 10px;
}

.group-right {
  margin-bottom: 0;
  overflow: hidden;
}

.group-related {
  background-color: #cdd5de;
  padding: 15px;
}

#block-node_subpages-menu_bar li {
  float: left;
  margin-right: 30px;
  background: none;
}

#block-node_subpages-menu_bar li a {
  color: rgb(168, 139, 110);
}

#breadcrumb {
  display: none;
}

#block-menu_block-1 ul.menu li ul.menu li {
  padding-top: 4px;
}

#block-menu_block-1 ul.menu li a {
  color: rgb(255, 255, 255);
  display: inline;
  padding: 2px 21px;
  border: none;
  font-weight: 700;
  font-size: 14px;
}

#block-menu_block-1 .content ul li.active a {
  background-color: transparent;
}

#block-menu_block-1 .content ul li.active-trail a {
  color: rgb(193, 205, 145);
}

#block-menu_block-1 .content ul li {
  border-right: 1px solid #bbbbbb;
}

#block-menu_block-1 .content ul li.last {
  border-right: none;
}

#block-menu_block-1 {
  clear: both;
}

.node-page {
  padding-top: 0;
}

#content {
  margin-bottom: 20px;
}

.title-and-meta span.submitted {
  display: none;
}

.field-label, .field-type-taxonomy-term-reference .field-label {
  color: rgb(68, 68, 68);
  font-weight: bold;
  display: block;
}

.field {
  margin-bottom: 10px;
}

.sharethis-wrapper {
  margin-top: 30px;
}

#branding #site-name a,
#branding #site-name a:active,
#branding #site-name a:focus {
  color: rgb(46, 73, 112);
}



#branding {
  display: none;
  padding: 0;
}

#footer-wrapper {
  border-top-color: rgb(46, 73, 112);
  background-color: rgb(255, 255, 255);
}

form#search-block-form input#edit-search-block-form--2.form-text {
  background: rgb(255, 255, 255) url(/sites/all/themes/titan/search.png) no-repeat scroll 225px center;
  width: 250px;
  float: right;
  padding: 6px 6px;
}

form#search-block-form #edit-actions {
  display: none;
}

.date .year, .date .month, .date .day {
  color: rgb(144, 173, 61);
}



.views-widget input#edit-keys.form-text{
  width: 350px;
}

ul {
  list-style: disc outside none;
  margin: 0 0 20px 25px;
}

ul li {
  background: none;
  padding: 0;
}

input.form-submit {
  font-size: 13px;
  background-color: rgb(240, 235, 231);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(209, 203, 181);
  padding: 3px 5px;
}

#edit-submit--2, #edit-submit--3 {
  display: none;
}

th, th.field-label, th.tabledrag-hide {
  background-color: rgb(240, 240, 238);
  color: rgb(68, 68, 68);
  padding: 5px 14px;
}

th, th.field-label label, th.tabledrag-hide label {
  margin-bottom: 0;
}

th a {
  color: rgb(68, 68, 68) !important;
}

span.summary {
  display: block;
  clear: both;
}

.filter-guidelines ul, ul.action-links {
  margin-left: 25px;
}

.filter-guidelines li {
  padding-left: 0;
}

.node-teaser .field-type-taxonomy-term-reference {
  display: none;
}

.not-front .more-link {
  display: none;
}

.caption p {
  font-style: italic;
  font-size: 90%;
}

#footer .block {
  margin-bottom: 0;
}

#footer-columns .region {
  margin-bottom: 0;
}

p + ul, p + ol {
  margin-top: 20px;
  margin-bottom: 20px;
}

ul + p, ol + p {
  margin-top: 20px;
  margin-bottom: 0;
}

.node-teaser .title-and-meta h2 a {
  font-size: 18px;
}

.search-result {
  margin: 25px 0;
}

.search-result h3.title {
  font-size: 14px;
}

.node-title {
  font-weight: bold;
}

.view-taxonomy-term .views-row {
  margin-left: 0;
  background-color: transparent;
}

.empty-upcoming-events {
  padding-top: 5px;
}

.empty-publications p,
.empty-upcoming-events p {
  margin: 20px 0;
}

div .collapsiblock a {
  background-position: 120px;
}

#block-system-main a[href^="http"]:after {
  display: none;
}

#block-system-user-menu {
  background-color: rgb(191, 201, 139);
}

#block-system-user-menu .inner {
  width: 960px;
  margin: 0 auto;
}

#block-system-user-menu ul {
  float: right;
  margin-right: -20px;
}

#block-system-user-menu .content ul li a {
  border: none;
}

#block-system-user-menu a:hover,
#block-system-user-menu a:active,
#block-system-user-menu a:focus {
  color: rgb(255, 255, 255) !important;
}

.content .field-name-body h4 {
  margin-top: 1.5em;
}

.views-slideshow-controls-top {
  position: absolute;
  z-index: 10;
  width: 654px;
  height: 300px;
}

.vscc_controls_previous {
  position: absolute;
  top: 140px;
  left: 10px;
}

.vscc_controls_next {
  position: absolute;
  top: 140px;
  right: 10px;
}

.node h2.node-title a {
  font-family: inherit;
}

.node h2.node-title a {
  font-family: inherit;
}

#views_slideshow_cycle_teaser_section_banner-block {
  height: 279px;
}

/*** FRONT PAGE ***/

body.front {
  width: inherit;
}

#block-block-6 {
  margin-left: 16px;
}

#header-menu #block-block-6 {
  margin: 0 auto;
  margin-top: 30px;
}

#header-menu #block-block-6 .content {
  width: 960px;
  margin: 0 auto;
}

#header-menu #block-block-6 .content #logo {
  float: left;
}

#header-menu #block-block-6 .content #slogan {
  width: 400px;
  float: right;
  margin-top: 5px;
  font-size: 14px;
  color: rgb(26, 57, 94);
  line-height: 20px;
}

.front #header-menu #block-menu_block-1 ul.menu ul.menu {
  margin-top: 3px;
}

.front #block-menu_block-1 ul.menu li {
  padding-top: 4px;
}

.front .field.field-name-field-date.field-type-datetime.field-label-above .field-items span.date-display-single {
  color: rgb(144, 173, 61);
  font-size: 15px;
  font-weight: 700;
  float: left;
}

.front #block-system-main {
  display: none;
}

.front #content {
  margin-top: 0;
}

.front a.feed-icon {
  display: none;
}

.views-slideshow-cycle-main-frame-row .views-field-title,
#block-views-research_highlights-block,
#block-views-publications-block_2,
#block-views-events-block {
  border-top: 3px solid rgb(133, 149, 40);
}

#block-views-research_highlights-block .inner {
  height: 400px;
  background-image: linear-gradient( rgb(32, 60, 93), transparent, rgb(32, 60, 93) );
}

#block-views-research_highlights-block .node-research-highlight {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  width: 265px;
}

.front #block-views-events-block .inner > h2,
.front #block-views-events-block_1 .inner > h2 {
  padding: 10px 0 0 0;
  background-color: transparent;
}

.front #block-views-events-block .inner .field-name-field-location,
.front #block-views-events-block .inner .field-name-field-date,
.front #block-views-events-block .inner .field-name-field-event-image,
.front #block-views-events-block_1 .inner .field-name-field-location,
.front #block-views-events-block_1 .inner .field-name-field-date,
.front #block-views-events-block_1 .inner .field-name-field-event-image {
  display: none;
}

.front #block-views-events-block,
.front #block-views-events-block_1 {
  width: 306px;
  height: 400px;
  background-color: rgb(46, 73, 112);
}

.front #block-views-publications-block_2 .view-empty,
.front #block-views-events-block .view-empty {
  margin: 0 20px;
  border-top: 1px solid rgb(255, 255, 255);
}

.front #block-views-research_highlights-block,
.front #block-views-publications-block_2 {
  width: 305px;
  height: 400px;
  background-color: rgb(46, 73, 112);
}

.front .field-name-field-research-highlight-image {
  padding: 0;
  background-color: transparent;
  border: none;
}

.front #block-views-events-block h2,
.front #block-views-research_highlights-block h2,
.front #block-views-publications-block_2 h2 {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 10px;
  margin-top: 0;
}

.front #block-views-events-block .node-header {
  display: none;
}

.front #block-views-events-block .content h2 {
  text-align: left;
  font-size: 15px;
  padding: 0;
}

.front #block-views-events-block h2.node-title,
.front #block-views-research_highlights-block h2.node-title,
.front #block-views-publications-block_2 h2.node-title {
  line-height: 18px;
  text-align: left;
  padding: 0;
}


.front #block-views-events-block p,
.front #block-views-events-block h2.node-title a,
.front #block-views-research_highlights-block p,
.front #block-views-research_highlights-block h2.node-title a,
.front #block-views-publications-block_2 p,
.front #block-views-publications-block_2 h2.node-title a {
  line-height: 18px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: normal;
}

.front #block-views-research_highlights-block .node-readmore {
  display: block;
  margin-top: 18px;
  margin-bottom: 15px;
}

.front #block-views-research_highlights-block .links-wrapper,
.front #block-views-research_highlights-block ul.links,
.front #block-views-research_highlights-block .field-name-body {
  margin: 0;
}

.front #block-views-publications-block_2 div {
  color: rgb(255, 255, 255);
}

.front #block-views-publications-block_2 .views-row {
  line-height: 18px;
}

.front #block-views-publications-block_2 .views-row-first {
  padding-top: 25px;
}

.front #block-views-research_highlights-block h2.node-title a {
  font-size: 18px;
  text-shadow: 1px 1px 30px #000000;
}

.front #block-views-research_highlights-block .views-row-last {
  border-top: 1px solid rgb(255, 255, 255);
}

.front .view-events .views-row {
  border-top: none;
}

.front #block-views-events-block a,
.front #block-views-publications-block_2 a,
.front #block-views-research_highlights-block a {
  color: rgb(255, 255, 255);
}

.front #block-views-events-block .date {
  float: none;
  text-transform: none;
  background: none;
  padding-left: 0;
  font-size: 14px;
}

.front #block-views-research_highlights-block .date,
.front #block-views-publications-block_2 .date {
  display: none;
}

.front .view-research-highlights {
  margin-bottom: 16px;
}

.front .view-research-highlights .views-row {
  height: 353px;
  position: relative;
}

.front .view-publications .view-content,
.front .view-publications .view-empty,
.front .view-events .view-content,
.front .view-events .view-empty {
  position: relative;
}

.front #block-views-events-block .view-content,
.front #block-views-events-block .view-footer,
.front #block-views-research_highlights-block .view-content,
.front #block-views-publications-block_2 .view-content,
.front #block-views-publications-block_2 .view-footer {
  padding: 0 20px;
}

.front #block-views-events-block .date .year,
.front #block-views-events-block .date .month,
.front #block-views-events-block .date .day {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.front #block-views-events-block .date .year {
  top: 0;
  display: inline;
}

.front #block-views-publications-block_2 .views-row-first,
.front #block-views-events-block .node {
  margin-bottom: 0;
  border-top: 1px solid rgb(255, 255, 255);
}

.front #block-views-publications-block_2 .views-row {
  margin-bottom: 20px;
}

.front #block-views-events-block,
.front #block-views-research_highlights-block,
.front #block-views-publications-block_2 {
  float: left;
}

.front #block-views-events-block,
.front #block-views-publications-block_2 {
  margin-left: 22px;
}

.front #block-views-events-block .node.indent .title-and-meta,
.front #block-views-research_highlights-block .node.indent .title-and-meta,
.front #block-views-research_highlights-block .node.indent .content,
.front #block-views-publications-block_2 .node.indent .title-and-meta,
.front #block-views-publications-block_2 .node.indent .content {
  margin-left: 0;
}

.front #block-views-events-block .node.indent .title-and-meta a {
  font-size: 14px;
  font-weight: normal;
}

.front .node-event .field-name-body {
  display: none;
}

.front #block-views-research_highlights-block .field-name-field-media img,
.front #block-views-featured_scientists-block .field-name-field-featured-scientist-media img {
  float: left;
  margin: 5px 15px 5px 5px;
}

.front #block-views-events-block .links-wrapper {
  display: none;
}

.front #block-views-events-block .node-header {
  line-height: 18px;
}

.front #block-views-banner-block {
  background-color: rgb(46, 73, 112);
  margin-bottom: 20px;
}

.front .views-field.views-field-field-banner-image {
  width: 654px;
  height: 282px;
  float: left;
}

.front .views-field-field-link a {
  color: rgb(144, 173, 61);
  font-size: 14px;
  padding: 0 20px 0 20px;
  position: relative;
  top: 10px;
}

.front .views-slideshow-cycle-main-frame-row .views-field.views-field-title {
  color: rgb(255, 255, 255);
  width: 266px;
  padding: 15px 20px 15px 20px;
  float: right;
  font-size: 18px;
  font-weight: bold;
}

.front .views-slideshow-cycle-main-frame-row .views-field.views-field-body {
  color: rgb(255, 255, 255);
  width: 266px;
  padding: 0 20px 0 20px;
  float: right;
}

.front .views-content-counter a {
  color: rgb(255, 255, 255);
  width: 20px;
  float: left;
  cursor: hand;
  cursor: pointer;
}

.front .more-link {
  position: relative;
  width: 120px;
  left: 880px;
  bottom: 29px;
  line-height: 0;
  z-index: 6;
}

.front #block-views-events-block .more-link {
  position: static;
  margin: 10px 20px;
}

.front #block-views-events-block .more-link a {
  font-weight: bold;
}

.front .more-link a {
  color: rgb(255, 255, 255);
}

.front .views-slideshow-cycle-main-frame-row .views-field-nothing a {
  color: rgb(255, 255, 255);
}

.front #block-block-1 {
  margin-bottom: 20px;
  font-size: 14px;
  color: rgb(46, 73, 112);
}

.front .views-slideshow-controls-bottom {
  position: relative;
  width: 150px;
  bottom: 18px;
  z-index: 6;
  left: 750px;
}

.front .node-event {
  padding-top: 24px;
}

.front #header-menu-wrapper {
  margin-left: 0;
}

.front #block-views-events-block .views-row-odd,
.front #block-views-events-block_1 .views-row-odd {
  background-color: transparent;
}

.front #branding {
  display: block;
}

.front #block-block-1 div p {
  font-size: 120%;
}

.front #block-menu_block-1 {
  background-color: rgb(49, 72, 106);
  margin-top: 25px;
  padding: 5px;
  border-top: 3px solid rgb(133, 149, 40);
}

.front #main-wrapper {
  background-color: rgb(243, 244, 230);
}

#block-system-main .inner .view-taxonomy-term .caption p {
  display: none;
}

/*** NON-FRONT PAGES ***/

body.not-front {
  width: inherit;
}

#block-block-3 {
  padding: 15px 0 5px 15px;
  width: 960px;
  margin: 0 auto;
}

#block-block-3 a {
  margin-left: -6px;
  position: relative;
  z-index: 10;
}

.not-front #header-menu-wrapper {
  background-color: rgb(31, 56, 92);
}

.not-front #header-menu {
  background-color: rgb(31, 56, 92);
}

.not-front #header-menu #block-menu_block-1 {
  width: 960px;
  margin: 0 auto;
  margin-top: -40px;
  margin-bottom: 15px;
}

.not-front #header-menu #block-menu_block-1 ul {
  float: right;
}

.not-front #header-menu #block-menu_block-1 ul.menu {
  margin-right: -20px;
}

.not-front #header-menu #block-menu_block-1 ul.menu ul.menu {
  margin-left: 0;
}

.not-front #header-menu #block-menu_block-1 ul.menu ul.menu {
  margin-top: 1px;
}

.not-front #block-menu_block-1 ul.menu li {
  margin-top: -1px;
}

.not-front #block-menu_block-1 ul.menu li a {
  line-height: 24px;
  padding-bottom: 2px;
}

#block-menu_block-2 {
  clear: both;
  background-color: rgb(49, 72, 106);
}

#block-menu_block-2 .inner {
  width: 960px;
  margin: 0 auto;
}

#block-menu_block-2 ul li {
  float: left;
  border-right: 1px solid #bbbbbb;
}

#block-menu_block-2 ul li.last {
  border-right: none;
}

#block-menu_block-2 .content ul {
  margin: 5px -20px 5px 0;
  float: right;
}

#block-menu_block-2 .content ul li a {
  border: none;
  color: #ffffff;
  line-height: 8px;
}

#block-menu_block-2 .content ul li.active a {
  border: none;
  background-color: transparent;
}

#block-menu_block-2 .content ul li.active-trail a {
  color: rgb(193, 205, 145)
}

#block-menu_block-2 .content {
  background-color: rgb(49, 72, 106);
}

/*** BANNERS ***/

.not-front .node-banner .field-name-field-banner-image {
  float: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

/*** RESEARCH HIGHLIGHTS ***/

.not-front #node-216 {
  margin-bottom: 0;
}

.not-front .node-research-highlight .field-name-field-media img {
  width: 300px;
  height: auto;
}

.not-front .node-featured-scientist .field-name-field-featured-scientist-media img {
  width: 300px;
  height: auto;
}

.not-front .node-research-highlight .field-name-field-media .field-item {
  margin-right: 30px;
  margin-bottom: 20px;
}

.not-front .node-featured-scientist .field-name-field-featured-scientist-media .field-item {
  margin-right: 30px;
  margin-bottom: 20px;
}

#block-system-main .inner .node-research-highlight .field-name-field-research-highlight-image .field-item,
#block-system-main .inner .node-featured-scientist .field-name-field-featured-scientist-image .field-item {
  margin-bottom: 20px;
}

.not-front .node-research-highlight .field-name-field-media,
.not-front .node-featured-scientist .field-name-field-featured-scientist-media {
  float: left;
  margin: 5px 15px 9px 0;
}

.not-front #block-system-main .inner .node-research-highlight .field-name-field-research-highlight-image,
.not-front #block-system-main .inner .node-featured-scientist .field-name-field-featured-scientist-image {
  margin-right: 30px;
  margin-bottom: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.not-front .node-research-highlight {
  padding-top: 0;
}

#block-menu-menu-research-menu {
  margin: 20px 0;
}

#block-menu-menu-research-menu ul {
  margin-left: 0;
}

#block-menu-menu-research-menu ul li {
  display: inline-block;
  padding-left: 0;
  background-image: none;
  margin: 0 4px 0 0;
}

#block-menu-menu-research-menu ul li a {
  display: block;
  padding: 5px 16px;
  color: #444444;
  border: 1px solid #d1cbb5;
  background-color: #f0ebe7;
}

#block-menu-menu-research-menu ul li a.active {
  background-color: #fbf9f8;
}

#block-menu-menu-research-menu ul li.active a {
  background-color: #fbf9f8;
}

#block-menu-menu-research-menu ul li a:active,
#block-menu-menu-research-menu ul li a:focus {
  background-color: #ffffff;
  outline: none;
}

#block-menu-menu-research-menu ul li a:hover {
  background-color: #ffffff;
}

#block-views-research_highlights-block_1 .field-name-body,
#block-views-research_highlights-block_1 .field-items,
#block-views-research_highlights-block_1 .field-item,
#block-views-research_highlights-block_1 p,
#block-views-research_highlights-block_1 .links-wrapper {
  display: inline;
}

/*** NEWS ***/

#field-news-related-people-add-more-wrapper, #field-news-related-resources-add-more-wrapper {
  margin: 25px 0;
}

#node-39 {
  margin-bottom: 0;
}

.not-front #block-system-main .inner .node-article .field-name-field-image {
  margin-right: 35px;
  margin-bottom: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.not-front #block-system-main .inner .node-article .field-name-field-image .field-item {
  margin-bottom: 1.5em;
}

#block-views-news-block .field-name-body,
#block-views-news-block .field-items,
#block-views-news-block .field-item,
#block-views-news-block p,
#block-views-news-block .links-wrapper {
  display: inline;
}

#block-views-news-block ul.inline {
  margin: 0;
  padding: 0;
}

#block-views-news-block ul.pager {
  margin-left: 132px;
}

/*** PROJECTS ***/

.node-project .node-header,
.node-project .content {
  margin-left: 0;
}

.node-project .date {
  display: none;
}

.not-front #block-views-outreach-block .views-row-odd,
.not-front #block-views-projects-block_1 .views-row-odd,
.not-front #block-views-projects-block_2 .views-row-odd {
  background-color: #cdd5de;
  padding: 0 20px 5px 20px;
}

#block-views-outreach-block .views-row-even,
#block-views-projects-block_1 .views-row-even,
#block-views-projects-block_2 .views-row-even {
  padding: 0 20px 5px 20px;
}

#block-views-outreach-block .node-outreach .field-name-body,
#block-views-projects-block_1 .node-project .field-name-body,
#block-views-projects-block_2 .node-project .field-name-body {
  margin-bottom: 0;
}

#block-views-outreach-block .node-outreach h2,
#block-views-projects-block_1 .node-project h2,
#block-views-projects-block_2 .node-project h2 {
  font-size: 18px;
  margin-top: 3px;
}

.node-outreach h2,
.node-project h2,
.node-project h2 {
  margin-top: 0;
}

.node-outreach > .node-header,
.node-project > .node-header {
  display: none;
}

.node-outreach .node-header,
.node-project .node-header {
  display: inline;
}

.node-outreach .node-header .title-and-meta,
.node-project .node-header .title-and-meta {
  display: inline;
}

.node-outreach .node-header .title-and-meta .node-title,
.node-project .node-header .title-and-meta .node-title {
  display: inline;
}

.node-outreach .field-name-title-field h1,
.node-project .field-name-title-field h1 {
  font-size: 24px;
  margin: 0;
}

.node-project .field-name-field-funded-title .field-label, 
.node-project .field-name-field-funded-title .field-items,
.node-project .field-name-field-funded-title .field-items div {
  display: inline;
}

.node-project .field-name-field-pi .field-label, 
.node-project .field-name-field-pi .field-items,
.node-project .field-name-field-pi .field-items div {
  display: inline;
}

.node-project .field-name-field-co-pi .field-label, 
.node-project .field-name-field-co-pi .field-items,
.node-project .field-name-field-co-pi .field-items div {
  display: inline;
}

.node-project .field-name-field-project-location .field-label, 
.node-project .field-name-field-project-location .field-items,
.node-project .field-name-field-project-location .field-items div {
  display: inline;
}

.node-project .field-name-field-duration .field-label, 
.node-project .field-name-field-duration .field-items,
.node-project .field-name-field-duration .field-items div {
  display: inline;
}

.node-outreach .field-name-field-outreach-location .field-label, 
.node-outreach .field-name-field-outreach-location .field-items,
.node-outreach .field-name-field-outreach-location .field-items div {
  display: inline;
}

.node-outreach .field-name-field-outreach-duration .field-label, 
.node-outreach .field-name-field-outreach-duration .field-items,
.node-outreach .field-name-field-outreach-duration .field-items div {
  display: inline;
}

#block-views-projects-block_1 .node-project {
  background-color: transparent;
}

#block-system-main .inner .node-outreach .node-header,
#block-system-main .inner .node-project .node-header {
  margin-bottom: 0;
}

#block-system-main .inner .node-project .field-name-field-project-related-resources .content {
  display: inline-block;
  color: #888;
}

#block-system-main .inner .node-project .field-name-field-project-related-resources .content .field-name-field-type {
  margin-bottom: 0;
}

#block-system-main .inner .node-project .field-name-field-project-related-resources .node-resource {
  margin: 0;
  padding: 0;
}

#block-system-main .inner .node-project .title-and-meta h2,
#block-system-main .inner .node-project .title-and-meta h2 a {
  font-size: 13px;
  font-weight: normal;
  line-height: 13px;
}

#block-system-main .inner .node-project .field-name-field-type {
  font-size: 13px;
  font-weight: normal;
  line-height: 13px;
}

#block-system-main .inner .node-project .content {
  background-color: #ffffff;
  padding-bottom: 10px;
}

#block-system-main .inner .node-project .field-name-field-project-related-resources .content {
 padding-bottom: 0;
}

#block-system-main .inner .node-outreach .field-name-body,
#block-system-main .inner .node-project .field-name-body,
#block-system-main .inner .node-project .field-name-field-publications {
  margin-bottom: 15px;
}

#block-system-main .inner .node-outreach .field-name-body ul,
#block-system-main .inner .node-project .field-name-body ul,
#block-system-main .inner .node-project .field-name-field-publications ul {
  list-style-position: inside;
}

#block-system-main .inner .node-outreach .field-name-field-outreach-image,
#block-system-main .inner .node-project .field-name-field-project-image {
  margin-right: 30px;
  margin-bottom: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

#block-system-main .inner .node-outreach .field-name-field-outreach-image .field-item,
#block-system-main .inner .node-project .field-name-field-project-image .field-item {
  margin-bottom: 20px;
}

#block-system-main .inner .node-project .sharethis-buttons {
  display: none;
}

#node-58 {
  margin-bottom: 0;
}

.view-taxonomy-term .views-row .field-name-field-project-location {
  background-color: transparent;
}

#block-system-main .inner .view-taxonomy-term .node-outreach .field-name-field-outreach-location,
#block-system-main .inner .view-taxonomy-term .node-outreach .field-name-field-outreach-duration,
#block-system-main .inner .view-taxonomy-term .node-project .field-name-field-project-location,
#block-system-main .inner .view-taxonomy-term .node-project .field-name-field-duration {
  display: none;
}

#block-system-main .inner .view-taxonomy-term .node-project .field-name-field-funded-title,
#block-system-main .inner .view-taxonomy-term .node-project .field-name-field-pi,
#block-system-main .inner .view-taxonomy-term .node-project .field-name-field-co-pi {
  margin-bottom: 0;
  background-color: transparent;
}

#block-system-main .inner .view-taxonomy-term .node-outreach .field-name-body,
#block-system-main .inner .view-taxonomy-term .node-project .field-name-body,
#block-system-main .inner .view-taxonomy-term .node-project .field-name-field-publications {
  margin-left: 0;
}

#block-system-main .inner .view-taxonomy-term .node-outreach .node-header,
#block-system-main .inner .view-taxonomy-term .node-project .node-header {
  margin-bottom: 16px;
}

#node-11 {
  margin-bottom: 0;
}

#block-system-main .inner .node-project .node-resource .content {
  background-color: transparent;
}

#block-system-main .inner .node-project .field-name-field-project-related-resources .content {
  display: inline-block;
}

/*** RESOURCES ***/

.node-resource {
  margin-bottom: 10px;
}

#block-views-resources-block_1 {
  margin-top: -20px;
}

#block-system-main .node-resource .node-header .title-and-meta,
#block-system-main .node-resource.node.indent .content {
  margin-left: 0;
}

.node-resource .date {
  display: none;
}

.page-node-10 .views-field.views-field-field-resource-banner-image {
  width: 654px;
  height: 282px;
  float: left;
}

.page-node-10 .views-field-field-resource-banner-link a {
  color: rgb(144, 173, 61);
  font-size: 14px;
  padding: 0 20px 0 20px;
  position: relative;
  top: 10px;
}

.page-node-10 #block-views-resource_banner-block {
  background-color: rgb(46, 73, 112);
  margin-bottom: 20px;
}

.page-node-10 .views-field.views-field-field-banner-image {
  width: 654px;
  height: 282px;
  float: left;
}

.page-node-10 .views-field-field-link a {
  color: rgb(144, 173, 61);
  font-size: 14px;
  padding: 0 20px 0 20px;
  position: relative;
  top: 10px;
}

.page-node-10 .views-slideshow-cycle-main-frame-row .views-field.views-field-title {
  color: rgb(255, 255, 255);
  width: 266px;
  padding: 15px 20px 15px 20px;
  float: right;
  font-size: 18px;
  font-weight: bold;
}

.page-node-10 .views-slideshow-cycle-main-frame-row .views-field.views-field-body {
  color: rgb(255, 255, 255);
  width: 266px;
  padding: 0 20px 0 20px;
  float: right;
}

.page-node-10 .views-content-counter a {
  color: rgb(255, 255, 255);
  width: 20px;
  float: left;
  cursor: hand;
  cursor: pointer;
}

.page-node-10 .views-slideshow-controls-bottom {
  position: relative;
  width: 120px;
  bottom: 20px;
  z-index: 6;
  float: right;
}

#block-rotating_banner-1 {
  margin-bottom: 20px;
}

#block-views-resource_banner-block .content {
  height: 300px;
}

#block-rotating_banner-1 {
  margin-bottom: 20px;
}

#views_slideshow_cycle_teaser_section_resource_banner-block {
  margin-top: 20px;
}

.block-views-resources-block_1 .views-row {
  margin-left: 100px;
}

.resource-type-audio {
  background-image: url(/sites/default/files/icons/audio.png);
  background-repeat: no-repeat;
  background-position: 0 32px;
}

.resource-type-document {
  background-image: url(/sites/default/files/icons/document.png);
  background-repeat: no-repeat;
  background-position: 0 32px;
}

.resource-type-educational-resource {
  background-image: url(/sites/default/files/icons/educational-resource.png);
  background-repeat: no-repeat;
  background-position: 0 32px;
}

.resource-type-fact-sheet-faq {
  background-image: url(/sites/default/files/icons/fact-sheet-faq.png);
  background-repeat: no-repeat;
  background-position: 0 32px;
}
.resource-type-illustration {
  background-image: url(/sites/default/files/icons/illustration.png);
  background-repeat: no-repeat;
  background-position: 0 32px;
}
.resource-type-poster {
  background-image: url(/sites/default/files/icons/poster.png);
  background-repeat: no-repeat;
  background-position: 0 32px;
}
.resource-type-presentation {
  background-image: url(/sites/default/files/icons/presentation.png);
  background-repeat: no-repeat;
  background-position: 0 32px;
}
.resource-type-video {
  background-image: url(/sites/default/files/icons/video.png);
  background-repeat: no-repeat;
  background-position: 0 32px;
}
.resource-type-website {
  background-image: url(/sites/default/files/icons/website.png);
  background-repeat: no-repeat;
  background-position: 0 32px;
}

#block-views-resources-block_1 .views-row > div > div {
  margin-left: 75px;
}

#block-system-main .inner .view-taxonomy-term .node-resource {
  padding-left: 100px;
}

#block-block-4 {
  margin-bottom: 40px;
}

#block-block-4 h2 {
  font-size: 16px;
}

#node-10 {
  margin-bottom: 0;
}

#node-10 .field-name-body {
  margin-bottom: 0;
}

#node-10 .field-name-body p + p {
  margin-top: 0;
}

.resource-key-item {
  width: 190px;
  height: 200px;
  float: left;
  margin: 0 25px;
  font-size: 12px;
  text-align: center;
}

.resource-key-item p {
  margin-top: 6px;
  line-height: 16px;
  text-align: center;
}

#block-views-resources-block_1 .field-name-body,
#block-views-resources-block_1 .field-items,
#block-views-resources-block_1 .field-item,
#block-views-resources-block_1 p,
#block-views-resources-block_1 .links-wrapper {
  display: inline;
}

#block-views-resources-block_1 ul.pager {
  margin-left: 76px;
}

/*** PUBLICATIONS ***/
.page-node-210 .node-page {
  margin-bottom: 0;
}

.page-node-210 .node-page .field-name-body {
  margin-bottom: 0;
}

.page-node-210 h3 {
  margin-bottom: 10px;
}

.not-front .view-publications .views-row {
  margin-bottom: 20px;
}

.not-front .view-publications ul {
  margin-left: 0;
}

.not-front .view-publications ul.pager li a {
  color: #355582;
}

/*** EVENTS ***/

.node-event h2 {
  font-size: 18px;
  margin-top: 3px;
}

.not-front #block-views-events-block .views-row,
.not-front #block-views-events-block_1 .views-row,
.not-front #block-views-events-block_2 .views-row,
.not-front #block-views-events-block_3 .views-row,
.not-front #block-views-events-block_4 .views-row {
  padding: 0 20px 5px 20px;
}

.not-front #block-views-events-block .date,
.not-front #block-views-events-block_1 .date,
.not-front #block-views-events-block_2 .date,
.not-front #block-views-events-block_3 .date,
.not-front #block-views-events-block_4 .date {
  display: none;
}

.not-front #block-views-events-block .node.indent .content,
.not-front #block-views-events-block_1 .node.indent .content,
.not-front #block-views-events-block_2 .node.indent .content,
.not-front #block-views-events-block_3 .node.indent .content,
.not-front #block-views-events-block_4 .node.indent .content {
  margin-left: 0;
}

.not-front #block-views-events-block .inner > h2,
.not-front #block-views-events-block_1 .inner > h2,
.not-front #block-views-events-block_2 .inner > h2,
.not-front #block-views-events-block_3 .inner > h2,
.not-front #block-views-events-block_4 .inner > h2 {
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  background-color: rgb(144, 173, 61);
}

.not-front #block-views-events-block .views-row-odd,
.not-front #block-views-events-block_1 .views-row-odd,
.not-front #block-views-events-block_2 .views-row-odd,
.not-front #block-views-events-block_3 .views-row-odd,
.not-front #block-views-events-block_4 .views-row-odd {
  background-color: #cdd5de;
  padding: 0 20px 5px 20px;
}

.not-front #block-views-events-block .node-event .field-name-body,
.not-front #block-views-events-block_1 .node-event .field-name-body,
.not-front #block-views-events-block_2 .node-event .field-name-body,
.not-front #block-views-events-block_3 .node-event .field-name-body,
.not-front #block-views-events-block_4 .node-event .field-name-body {
  margin-bottom: 0;
}

#block-system-main .inner .node-event .node-header {
  margin-bottom: 0;
}

#block-system-main .inner .node-event .title-and-meta,
#block-system-main .inner .node-event .content {
  margin-left: 0;
}

#block-system-main .inner .node-event .field-name-field-products .content {
  display: inline-block;
  color: #888;
}

#block-system-main .inner .node-event .field-name-field-products .content .field-name-field-type {
  margin-bottom: 0;
}

#block-system-main .inner .node-event .field-name-field-products .node-resource {
  margin: 0;
  padding: 0;
}

#block-system-main .inner .node-event .node-header,
#block-system-main .inner .node-event .title-and-meta,
#block-system-main .inner .node-event .title-and-meta h2 {
  display: inline;
}

#block-system-main .inner .node-event .title-and-meta h2,
#block-system-main .inner .node-event .title-and-meta h2 a {
  font-size: 13px;
  font-weight: normal;
  line-height: 13px;
}

#block-system-main .inner .node-event h1.node-title,
#block-system-main .inner .view-event h1.node-title {
  padding: 20px 20px;
  background-color: #cdd5de;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
}

#block-system-main .inner .node-event .field-name-field-location,
#block-system-main .inner .view-event .views-field-field-location {
  margin-bottom: 0;
  padding: 0 20px 10px 20px;
  background-color: #cdd5de;
}

#block-system-main .inner .node-event .field-name-field-date,
#block-system-main .inner .view-event .views-field-field-date {
  padding: 0 20px 20px 20px;
  background-color: #cdd5de;
}

#block-system-main .inner .node-event .field-name-body,
#block-system-main .inner .node-event .field-name-field-agenda,
#block-system-main .inner .view-event .views-field-field-agenda {
  margin-bottom: 15px;
}

#block-system-main .inner .node-event .field-name-body ul,
#block-system-main .inner .node-event .field-name-field-agenda ul,
#block-system-main .inner .view-event .views-field-field-agenda ul {
  list-style-position: inside;
}

#block-system-main .inner .node-event .field-name-field-event-image {
  margin-right: 30px;
  margin-bottom: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

#block-system-main .inner .view-event .views-field-field-event-image {
  float: left;
  margin: 5px 15px 9px 0;
}

#event-sub-nav {
  display: block;
  border-bottom: 4px solid rgb(132, 151, 47);
  margin-top: 20px;
  margin-bottom: 20px;
}

#event-sub-nav li {
  display: inline;
  background-color: rgb(32, 56, 92);
  padding: 8px;
  margin-right: 0;
  line-height: 21px;
}

#event-sub-nav li.active {
  background-color: rgb(132, 151, 47);
  padding: 8px 8px 9px 8px;
}

#event-sub-nav li a {
  color: rgb(255, 255, 255);
  padding: 10px 50px;
}

#block-views-workshops-block_1 {
  margin-top: -20px;
}

.not-front .node-event .date {
  display: none;
}

.field-name-field-event-pi div {
  display: inline;
}

#node-12 {
  margin-bottom: 0;
}

#node-131 {
  margin-bottom: 0;
}

#block-views-events-block .inner .node {
  margin-bottom: 0;
}

.not-front #block-views-events-block .node-header,
.not-front #block-views-events-block_1 .node-header {
  margin-bottom: 0;
}

.not-front #block-views-events-block .node-header,
.not-front #block-views-events-block_1 .node-header,
.not-front #block-views-events-block_2 .node-header,
.not-front #block-views-events-block_3 .node-header,
.not-front #block-views-events-block_4 .node-header {
  margin-bottom: 0;
}

#block-views-events-block .field-name-field-location,
#block-views-events-block_1 .field-name-field-location,
#block-views-events-block_2 .field-name-field-location,
#block-views-events-block_3 .field-name-field-location,
#block-views-events-block_4 .field-name-field-location {
  margin-bottom: 0;
}

.node-event .field-name-field-location .field-label, 
.node-event .field-name-field-location .field-items,
.node-event .field-name-field-location .field-items div {
  display: inline;
}

.view-event .views-field-field-location span,
.view-event .views-field-field-location div {
  display: inline;
}

.view-event .views-field-field-location .views-label {
  font-weight: bold;
}

.node-event .field-name-field-date .field-label, 
.node-event .field-name-field-date .field-items,
.node-event .field-name-field-date .field-items div {
  display: inline;
}

.view-event .views-field-field-date .views-label {
  font-weight: bold;
}

.view-event .views-label {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  display: block;
}

.view-event .views-field-field-date span,
.view-event .views-field-field-date div {
  display: inline;
}

#block-system-main .inner .node-event .field-name-field-event-image .field-item,
#block-system-main .inner .view-event .views-field-field-event-image .field-content div {
  margin-bottom: 20px;
}

#block-system-main .inner .node-event .sharethis-buttons {
  display: none;
}

#block-system-main .inner .view-taxonomy-term .node-event .field-name-field-location {
  display: none;
}

#block-system-main .inner .view-taxonomy-term .node-event .field-name-body,
#block-system-main .inner .view-taxonomy-term .node-event .field-name-field-agenda {
  margin-left: 0;
}

#block-system-main .inner .view-taxonomy-term .node-event .node-header {
  margin-bottom: 16px;
}

#block-menu-menu-events-menu {
  margin: 20px 0;
}

#block-menu-menu-events-menu ul {
  margin-left: 0;
}

#block-menu-menu-events-menu ul li {
  display: inline-block;
  padding-left: 0;
  background-image: none;
  margin: 0 4px 0 0;
}

#block-menu-menu-events-menu ul li a {
  display: block;
  padding: 5px 16px;
  color: #444444;
  border: 1px solid #d1cbb5;
  background-color: #f0ebe7;
}

#block-menu-menu-events-menu ul li a.active {
  background-color: #fbf9f8;
}

#block-menu-menu-events-menu ul li.active a {
  background-color: #fbf9f8;
}

#block-menu-menu-events-menu ul li a:active,
#block-menu-menu-events-menu ul li a:focus {
  background-color: #ffffff;
  outline: none;
}

#block-menu-menu-events-menu ul li a:hover {
  background-color: #ffffff;
}

#node_event_agenda_group_subpage .field-name-field-event-image {
  float: left;
}

.view-event .group_subpage .field-name-field-agenda {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.view-events .group-info {
  float: right;
}


/* People */

/*** PEOPLE ***/
/*
#block-views-people-block_1,
#block-views-people-block_2,
#block-views-people-block_3,
#block-views-people-block_4,
#block-views-people-block_5 {
  margin-top: -20px;
}

(
.view-id-people .cols-4 td {
  width: 209px;
}

.view-id-people td {
  text-align: center;
}

.user-picture {
  margin-bottom: 20px;
}

.view-id-people tr {
  border-bottom: 0;
  height: 300px;
}

.not-front #content .view-id-people h3 {
  font-weight: bold;
  color: #000;
}

.not-front #content #block-views-people-block_2 h2,
.not-front #content #block-views-people-block_7 h2 {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.view-id-people.view-display-id-block_2 th,
.view-id-people.view-display-id-block_7 th {
  padding: 8px;
  background-color: #ddd;
  width: 50%;
}

.view-id-people.view-display-id-block_2 tr,
.view-id-people.view-display-id-block_7 tr {
  height: auto;
  border: 1px solid #ccc;
}

.view-id-people.view-display-id-block_2 td,
.view-id-people.view-display-id-block_7 td {
  text-align: inherit;
  padding: 8px;
  width: 50%;
}

.view-id-people.view-display-id-block_2 tr.even,
.view-id-people.view-display-id-block_7 tr.even {
  background-color: rgb(240, 240, 238);
}
*/


.view.view-people .views-row .views-field.views-field-picture  {
    float: left;
    height: 100px;
    border: 1px solid silver;
    margin: 0 1em 0 0;
    border-radius: 5px;
    }

.views-field.views-field-field-affiliation {
    margin-bottom: 3em;
}

#block-views-people-block_3 h3,  /*fellows page*/
#block-views-people-block_4 h3 { /*staff page*/
    display: none;
}

#block-views-people-block_5 h3, 
#block-views-people-block_6 h3 {
    margin: 3em 0 .25em 0;
    border-top: 1px dotted silver;
}






.profile .group-left-side h3 {
  display: none;
}

.profile .group-left-side {
  float: left;
  display: inline-block;
}

.profile .field-name-field-first-name {
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
  display: inline-block;
}

.profile .field-name-field-last-name {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
}

.profile .field-name-field-position {
  width: 325px;
  clear: left;
}

.profile .field-name-field-position div {
  display: inline-block;
}

.profile .field-name-field-affiliation {
  width: 325px;
  clear: left;
}

.profile .field-name-field-affiliation div {
  display: inline-block;
}

.profile .field-name-field-email {
  width: 325px;
  clear: left;
}

.profile .field-name-field-email div {
  display: inline-block;
}

.profile .field-name-field-phone {
  width: 325px;
  clear: left;
}

.profile .field-name-field-phone div {
  display: inline-block;
}

.profile .group-right-side h3 {
  display: none;
}

.profile .group-right-side {
  width: 625px;
  float: right;
}

.profile .group-about h3 {
  display: none;
}

.profile .group-about {
  width: 625px;
  margin-bottom: 30px;
}
.profile .field-name-field-bio {
  width: 625px;
}

.profile .field-name-field-education {
  width: 625px;
}

.profile .field-name-field-areas-of-expertise {
  width: 625px;
}

.profile .group-related-entities h3 {
  display: none;
}

.profile .group-related-entities {
  width: 625px;
  background-color: #cdd5de;
}

.profile .field-name-field-people-related-projects {
  width: 595px;
  padding: 10px 15px 10px 15px;
  margin-bottom: 0;
}

.profile .field-name-field-people-related-projects .field-item {
  display: list-item;
  margin-left: 20px;
}

.profile .field-name-field-people-related-resources {
  width: 595px;
  padding: 10px 15px 10px 15px;
}

.profile .field-name-field-people-related-resources .field-item {
  display: list-item;
  margin-left: 20px;
}

.profile .field-name-field-people-publications {
  width: 595px;
  padding: 10px 15px 10px 15px;
}

#block-views-publications-block_1 h2 {
  font-size: 20px;
}

.profile-option {
  width: 260px;
  height: 90px;
  background-color: rgb(191, 202, 140);
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
  float: left;
  
}

.profile-option a {
  font-weight: bold;
}

.profile-option a:hover,
.profile-option a:focus,
.profile-option a:active {
  color: #000 !important;
}

.profile-option .small {
  font-size: 75%;
}

#block-block-7,
#block-block-8 {
  margin-bottom: 20px;
}

