#header-wrapper {
  background-color: rgb(202, 227, 255);
}

body {
  background-color: rgb(255, 255, 255);
}

#main-wrapper {
  background: none;
}

a#logo {
  margin-left: -15px;
}

#block-node_subpages-menu_bar li {
  float: left;
  margin-left: -30px;
  margin-right: 30px;
  background: none;
}

#block-node_subpages-menu_bar li a {
  color: rgb(168, 139, 110);
}

#breadcrumb {
  font-size: 12px;
}

div.field-label, .field-type-taxonomy-term-reference .field-label {
  color: rgb(68, 68, 68);
  font-weight: bold;
  display: block;
}

div.field {
  margin-bottom: 10px;
}

div.sharethis-wrapper {
  margin-top: 30px;
}

#branding #site-name a,
#branding #site-name a:active,
#branding #site-name a:focus {
  color: rgb(46, 73, 112);
}

div#block-views-resources-block_1,
div#block-views-projects-block_1,
div#block-views-people-block_1,
div#block-views-workshops-block_1 {
  margin-top: -20px;
}

/*
form#search-block-form {
  margin-top: -100px;
  margin-bottom: 40px;
}
*/

form#search-block-form input#edit-search-block-form--2.form-text {
  background: #ffffff url(/drupal/sites/all/themes/titan/search.png) no-repeat scroll 214px center;
}

form#search-block-form #edit-actions {
  display: none;
}

.date .year, .date .month, .date .day {
  color: rgb(144, 173, 61);
}

.node .meta a, li.node-readmore.first.last a, a {
  color: rgb(46, 73, 112);
}

.node .meta a:hover, li.node-readmore.first.last a:hover, a:hover {
  color: rgb(144, 173, 61);
}

div.views-widget input#edit-keys.form-text{
  width: 350px;
}

div#block-system-navigation ul.menu li {
  padding-top: 4px;
}

div#block-system-navigation ul.menu li a {
  color: rgb(255, 255, 255);
  display: inline;
  padding: 2px 21px;
  border: none;
  font-weight: 500;
  font-size: 14px;
}

div#header-menu-wrapper {
  background: -moz-linear-gradient(top, rgb(96, 123, 162), rgb(46, 73, 112));
}

#header-menu .content ul {
  margin-left: -20px;
}

#header-menu .content li a:hover,
#header-menu .content li a:active,
#header-menu .content li a:focus {
  color: rgb(193, 205, 145);
  background-color: transparent;
}

#footer-wrapper {
  border-top-color: rgb(193, 205, 145);
  background-color: rgb(240, 240, 216);
}
